<%= link_to "ログアウト", session_path, data: { turbo_method: :delete } %>

<h1>写真アップロード</h1>

<%= form_with model: @photo, local: true do |form| %>
<% if @photo.errors.any? %>
  <div style="color: red;">
    <ul>
      <% @photo.errors[:title].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @photo.errors[:image].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title, maxlength: 60, style: "display:block; margin-top:4px;" %>
</div>

  <div>
    <%= form.label :image, "画像ファイル" %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "アップロード" %>
    <%= link_to "キャンセル", photos_path %>
  </div>
<% end %>